<polymer-element name="angular-deps">

    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/angular-route/angular-route.min.js"></script>
    <script src="../vendor/angular-animate/angular-animate.min.js"></script>
    <script src="../app/definitions.js"></script>
    <script src="../app/services/api.js"></script>
    <script src="../app/controllers/indexCtrl.js"></script>
    <script src="../app/controllers/detailsCtrl.js"></script>
    <script src="../app/app.js"></script>
    <script>
        Polymer('angular-deps', {

        });
    </script>
</polymer-element>
