<polymer-element name="youtube-thumbnail" attributes="videoid">
    <template>
        <style>
            :host, .thumbnail, .thumbnail>img {
                max-height: 100%;
                height: 100%;
            }
        </style>
        <div class="thumbnail">
            <img src="http://img.youtube.com/vi/{{ videoid }}/hqdefault.jpg" alt="{{ videoid }} YouTube thumbnail"/>
        </div>
    </template>
    <script>
        Polymer('youtube-thumbnail', {

        });
    </script>
</polymer-element>
